
.first-header {
    background-color: rgb(246, 22, 2);
}

.logo1 {
   width: 100%;
}

.our-date {
    display: none;
}

.first-btn {
    width: 80%;
}

.text-white {
    font-size: 0.8rem;
    padding-right: 2.5rem;
}

.menu {
    color: #fff;
}

.logo2 {
   width: 80%;
}

.footer1 {
    
}

.footer-head {
   
}

#linklogo1 {
    
}

.footer-head2 {
    font-size: 1.2rem;
    color: black;
}

.footer-head3 {
    font-size: 1.2rem;
    color: black;
}

.second-header {
    display: none;
}

.third-header {
    display: none;
}

.icons {
}